<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Treasure Hunt - Login</title>
    <link th:href="@{/stylesheet.css}" rel="stylesheet" />
    <link th:href="@{/loginform.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6560b76baf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="headerDiv">
            <div class="titleText">
                <h1>Treasure Hunt</h1>
                <p style="text-align: center;">Login</p>
            </div>
        </div>
    </header>
    <main>
        <div id="mainDiv">
            <div class="mainContainerDiv">
                <p id="italicAnnouncerText" th:text="${message}"></p>
                <form class="verticalFlexDiv" action="/game/treasurehunt" method="post">
                    <i class="fa-solid fa-user-pen"></i>
                    <input type="text" name="username" placeholder="User Name"/>
                    <i class="fa-solid fa-key" style="margin-top: 10px;"></i>
                    <input type="password" name="password" placeholder="Password"/>
                    <input type="submit" style="margin-top: 10px;"/>
                </form>
            </div>
        </div>
    </main>
</body>
</html>